
/* Elimina márgenes y rellenos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
  }

  :root {
    --primary-color: #fff7f8ff;      /* Color principal */
    --secondary-color: rgba(233, 233, 233, 0.856); /* Color secundario */
    --special-color: #869b81; 
    --text-color: #2b2a2cff;
    --bg-color: rgb(243, 239, 239);
  }
html{
    height: 100%;
}
  body {
    background: var(--bg-color) !important;
    height: 100%;
    color: var(--text-color);
    line-height: 1.6;
    padding-top: 100px;
  }
  main{
    background-color: var(--bg-color);
  }
  
  .container {
    width: 80%;
    margin: auto;
    padding: 50px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    background: var(--bg-color);
    color: var(--primary-color);
    text-align: center;
    opacity: 0;
    animation: fadeInAnimation 1.5s ease-in forwards;
    width: 100%;
    z-index: 1000; /* Mantiene el header por encima del contenido */
  }
  .navigation {
    
    display: flex; /* Activa flexbox */
    justify-content: space-between; /* Distribuye a los extremos */
    align-items: center; /* Centra verticalmente */
    padding: 10px 20px; /* Espaciado */
    color:var(--text-color)
    
        
}
.nav-left-cell,
.nav-center-cell,
.nav-right-cell {
    flex: 1;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
}
.nav-left-cell {
    text-align: left;
}

.nav-right-cell {
    text-align: right;
}
.nav-left-cell a,
.nav-right-cell a {
    text-decoration: none;
    font-weight: lighter;
}

.nav-center-cell h1 a {
    margin: 0;
    font-size: 4rem; /* Use relative units */
    font-family: "Big Shoulders Display", serif;
    font-optical-sizing: auto;
    font-weight: 150;
    text-decoration: none;
    color: inherit;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

.menu > li {
    position: relative;
    padding: 10px;
    cursor: pointer;
}
.submenu {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 5px 0;
    list-style: none;
    z-index: 100; /* Para que no se quede detrás de otros elementos */
}

.submenu li {
    padding: 8px 15px;
}

.submenu li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.submenu li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px; /* Ajusta la posición del subrayado */
    width: 0;
    height: 1px; /* Grosor del subrayado */
    background-color: var(--text-color); 
    transition: width 0.7s ease-in-out; /* Hace el subrayado lento */
}

.submenu li a:hover::after {
    width: 100%; /* Hace que el subrayado se extienda lentamente */
   
}

.dropdown:hover .submenu {
    display: block; /* Se muestra cuando pasas el mouse */
}

.carousel-container {
    width: 60%; /* Ajusta el ancho del carrusel */
    margin: 0px auto; /* Margen superior e inferior de 50px y centrado */
    padding: 20px; /* Espaciado interno opcional */
    opacity: 0;
    animation: fadeInAnimation 2s ease-in forwards;
}
.container-about{
    width: 90%; /* Ajusta el ancho del carrusel */
    margin: 0px auto; /* Margen superior e inferior de 50px y centrado */
    padding: 20px; /* Espaciado interno opcional */
    opacity: 0;
    animation: fadeInAnimation 2s ease-in forwards;

}

.perfil {
    width: 70%; 
    margin: 20px auto; /* Margen superior e inferior de 20px y centrado */
    display: flex;
    place-items: center; /* Centra tanto horizontal como vertical */
    justify-content: space-between ;
    padding: 10px 10px; /* Espaciado */
    

}
.perfil img {
    max-width: 60%; /* Hace que la imagen no se desborde del contenedor */ 
    object-fit: contain;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
.perfil p {
    font-size: 20px;
    font-weight: lighter;
    text-align: start;
    margin: 10px;
    padding: 0px;
}

.banner {
    width: 80%; 
    margin: 20px auto; /* Margen superior e inferior de 20px y centrado */
    display: flex;
    padding: 10px 10px; /* Espaciado */
    place-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out !important;

}
.banner.visible{
    opacity: 1;
    transform: translateY(0);
}

.banner img {
    display: block;
    max-width: 100%; /* Hace que la imagen no se desborde del contenedor */ 
    object-fit: contain;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

    
}
.icono-about {
    
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    color: var(--primary-color);
    background: var(--primary-color);
    opacity: 50%;
    padding: 0.7vw; 
    border-radius: 50%;
}

.icono-about-1 { top: 15%; left: 10%; }
.icono-about-2 { top: 30%; left: 55%; }
.icono-about-3 { top: 55%; left: 65%; }

.about-1{ 
    display: flex;
    max-width: 30%;
    position: absolute;
    top: 14%; 
    left: 12%; 
    font-size: 0.9vw;
    color: var(--primary-color);
}
.about-2{ 
    display: flex;
    max-width: 30%;
    position: absolute;
    top: 29%; 
    left: 57%; 
    font-size: 0.9vw;
    color: var(--primary-color);
}
.about-3 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 67%;
    object-fit: contain;
    width: 18vw; /* Ajusta el tamaño en función del ancho de la pantalla */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    color: var(--primary-color);
}

.about-1, .about-2, .about-3 {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}
.arrow-icon {
    margin: auto;
    fill: var(--text-color); /* Change color if needed */
}
.container-photos{
    padding: 0 15px; /* Asegura que el padding es igual */
    width: 100%; /* Ajusta el ancho del carrusel */
    margin: 0px auto; /* Margen superior e inferior de 50px y centrado */
    opacity: 0;
    animation: fadeInAnimation 2s ease-in forwards;
    
}

.container-photos .row .col-12 .col-md-6{
    display: flex;
    justify-content: center; /* Centra las columnas dentro de la fila */
    grid-template-columns: 1fr 1fr;
}

.photo-gallery {
    max-width: 70%; 
    margin: 0 auto; 
    padding: 10px; 
    place-items: center; 
    
}

.photo-gallery .row {
    margin: 20px auto; /* space between rows */
    place-items: center; 
    
}

.photo-gallery img {
    max-width: 80%;
    height: auto; 
    object-fit: contain; 
    transition: transform 1s ease-in-out;
}
.photo-gallery img:hover {
    transform: scale(1.03); 
}


.row:has(img[alt="photo-gallery"]) {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.row:has(img[alt="photo-gallery"]).visible {
    opacity: 1;
    transform: translateY(0);
}

.container-contact{
    width: 80%; /* Ajusta el ancho del carrusel */
    margin: 20px auto; /* Margen superior e inferior de 50px y centrado */
    padding: 20px; /* Espaciado interno opcional */
    opacity: 0;
    animation: fadeInAnimation 2s ease-in forwards;
    place-items: center; 
    
}
.container-contact .row {
    display: flex;
    justify-content: center;
    align-items: center; /* Centra los elementos verticalmente */
}

.container-contact .row .col-12.col-md-6 {
    margin: 20px auto; /* Centra el contenido */
    text-align: center; /* Centra el texto */
}

.contact-img{
    margin-top: 30px auto;
    max-width: 100%;
    height: auto; 
    object-fit: contain; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

}

.col-12.col-md-6 h1{
    font-family: "Big Shoulders Display", serif !important;
    font-size: 30px;
    margin-bottom: 10px;
  }

.bi.bi-instagram{
    margin: 5px;
    
}
.bi.bi-envelope-at-fill{
    margin: 5px;
}

.btn.btn-secondary.btn-lg{
    border: 0;
    background-color:#869b81;
    color:rgba(255, 247, 248, 0.767);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
.btn.btn-secondary.btn-lg:hover {
    transform: scale(1.1);
}

.social-link {
    display: flex;
    color: inherit;
    transition: transform 0.2s ease-in-out;
}

.social-link:hover {
    transform: scale(1.1);
    color: inherit;
}
.container-videos{
    width: 60%; 
    margin: 50px auto; 
    padding: 20px; 
    opacity: 0;
    animation: fadeInAnimation 2s ease-in forwards;

}

.video-gallery {
    max-width: 100%; 
    margin: 0 auto; 
    padding: 10px; 
    place-items: center; 
}
.card-title{
    font-weight: bold !important;
}
.video-item {
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 315px;
}

.col-md-8{
    border:0;
    background-color:rgba(255, 247, 248, 0.767);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.card.mb-3{
    transition: transform 1s ease-in-out !important;
    border: 0 !important;
}

.card.mb-3:hover{
    transform: scale(1.03);
}


footer {
    background: var(--bg-color);
    color: var(---text-color);
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    animation: fadeInAnimation 2s ease-in forwards;
}


@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 992px) {
    
    .navigation {
        flex-direction: row; /* Stack items vertically */
        align-items: center;
    }

    .nav-left-cell,
    .nav-center-cell,
    .nav-right-cell {
        text-align: center;
        margin: 10px 0;
    }

    .nav-center-cell h1 a {
        font-size: 2em; /* Further reduce font size */
    }

    .menu {
        justify-content: center; /* Center the menu */
    }
}

@media (max-width: 768px) {
    .nav-center-cell h1 a {
        font-size: 2.5rem; /* Adjust font size for mobile */
    }

    .menu {
        flex-direction: row; /* Stack menu items vertically */
        align-items: center;
    }

    .menu > li {
        padding: 5px;
    }
    .submenu{
        background:  rgba(243, 239, 239, 0.747);;
    }
    .carousel-container{
        padding-top: 200px;
        width: 100%;
    }

    .container-about{
        margin: 60px auto; /* Margen superior e inferior de 50px y centrado */
        padding: 0px; /* Espaciado interno opcional */ 
    }
    
    .perfil {
        width: 90%; 
        margin: 0px auto; /* Margen superior e inferior de 20px y centrado */      
    
    }
    .perfil p {
        font-size: 15px;
        }
    
    .banner {
        width: 100%; 
        margin: 0px auto; /* Margen superior e inferior de 20px y centrado */
        display: flex;
        padding: 30px 10px; /* Espaciado */
    }
    .about-1{ 
        display: flex;
        max-width: 30%;
        position: absolute;
        top: 14%; 
        left: 12%; 
        font-size: 10px;
        color: var(--primary-color);
    }
    .about-2{ 
        display: flex;
        max-width: 30%;
        position: absolute;
        top: 29%; 
        left: 57%; 
        font-size: 10px;
        color: var(--primary-color);
    }
    .icono-about-3 { 
        opacity: 0;
    }
    .container-contact .row .col-12.col-md-6 {
        padding-top: 30px;
    }

    .container-photos{
        padding-top: 20px; /* Asegura que el padding es igual */
    }
    
    .photo-gallery {
        max-width: 100%; 
        margin: 0 auto; 
        padding: 10px;      
    }
    
    .photo-gallery .row {
        margin: 5px auto; /* space between rows */      
    }
    
    .photo-gallery img {
        max-width: 100%;
        margin: 5px auto;
    }
    .container-videos{
        width: 100%; 
        margin: 40px auto; 
    }

}

/* COLOR PALETTE CSS HEX 
--sandy-brown: #f7934cff;
--raisin-black: #2b2a2cff;
--wenge: #695958ff;
--snow: #fff7f8ff;
--cambridge-blue: #869b81ff; */