
/* Elimina márgenes y rellenos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  :root {
    --primary-color: #fff7f8ff;      /* Color principal */
    --secondary-color: rgba(248, 248, 248, 0.856); /* Color secundario */
    --special-color: #869b81; 
    --text-color: #2b2a2cff;         /* Color del texto */
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
  }
  .container {
    width: 80%;
    margin: auto;
    padding: 50px;
  }

  header {
    margin: 0 auto;
    background: linear-gradient(to bottom , var(--secondary-color) 0%,var(--primary-color));
    color: var(--primary-color);
    padding: 20px;
    text-align: center;
    opacity: 0;
    animation: fadeInAnimation 1.5s ease-in forwards;
    max-width: 100%;

  }
  .navigation {
    
    display: flex; /* Activa flexbox */
    justify-content: space-between; /* Distribuye a los extremos */
    align-items: center; /* Centra verticalmente */
    padding: 10px 20px; /* Espaciado */
    color:var(--text-color)
    
        
}
.nav-left-cell,
.nav-center-cell,
.nav-right-cell {
    flex: 1;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
}
.nav-left-cell {
    text-align: left;
}

.nav-right-cell {
    text-align: right;
}
.nav-left-cell a,
.nav-right-cell a {
    text-decoration: none;
    font-weight: lighter;
}

.nav-center-cell h1 a {
    margin: 0;
    font-size: 4rem; /* Use relative units */
    font-family: "Big Shoulders Display", serif;
    font-optical-sizing: auto;
    font-weight: 150;
    text-decoration: none;
    color: inherit;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

.menu > li {
    position: relative;
    padding: 10px;
    cursor: pointer;
}
.submenu {
    display: none; /* Oculto por defecto */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 5px 0;
    list-style: none;
    z-index: 100; /* Para que no se quede detrás de otros elementos */
}

.submenu li {
    padding: 8px 15px;
}

.submenu li a {
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown:hover .submenu {
    display: block; /* Se muestra cuando pasas el mouse */
}

.carousel-container {
    width: 60%; /* Ajusta el ancho del carrusel */
    margin: 0px auto; /* Margen superior e inferior de 50px y centrado */
    padding: 20px; /* Espaciado interno opcional */
    opacity: 0;
    animation: fadeInAnimation 2s ease-in forwards;
}
.container-about{
    width: 90%; /* Ajusta el ancho del carrusel */
    margin: 50px auto; /* Margen superior e inferior de 50px y centrado */
    padding: 20px; /* Espaciado interno opcional */
    opacity: 0;
    animation: fadeInAnimation 2s ease-in forwards;

}

.perfil {
    width: 70%; 
    margin: 20px auto; /* Margen superior e inferior de 20px y centrado */
    display: flex;
    place-items: center; /* Centra tanto horizontal como vertical */
    justify-content: space-between ;
    padding: 10px 10px; /* Espaciado */
    

}
.perfil img {
    max-width: 60%; /* Hace que la imagen no se desborde del contenedor */ 
    object-fit: contain;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);


}
.perfil p {
    font-size: 20px;
    font-weight: lighter;
    text-align: start;
    margin: 10px;
    padding: 0px;
}

.banner {
    width: 80%; 
    margin: 20px auto; /* Margen superior e inferior de 20px y centrado */
    display: flex;
    padding: 10px 10px; /* Espaciado */
    place-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out !important;

}
.banner.visible{
    opacity: 1;
    transform: translateY(0);
}

.banner img {
    display: block;
    max-width: 100%; /* Hace que la imagen no se desborde del contenedor */ 
    object-fit: contain;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);

    
}
.icono-about {
    
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    color: var(--primary-color);
    background: var(--primary-color);
    opacity: 50%;
    padding: 0.7vw; 
    border-radius: 50%;
}

.icono-about-1 { top: 15%; left: 10%; }
.icono-about-2 { top: 30%; left: 55%; }
.icono-about-3 { top: 55%; left: 65%; }

.about-1{ 
    display: flex;
    max-width: 30%;
    position: absolute;
    top: 14%; 
    left: 12%; 
    font-size: 0.9vw;
    color: var(--primary-color);
}
.about-2{ 
    display: flex;
    max-width: 30%;
    position: absolute;
    top: 29%; 
    left: 57%; 
    font-size: 0.9vw;
    color: var(--primary-color);
}
.about-3 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 67%;
    object-fit: contain;
    width: 18vw; /* Ajusta el tamaño en función del ancho de la pantalla */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    color: var(--primary-color);
}

.about-1, .about-2, .about-3 {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.photo-gallery {
    max-width: 70%; 
    margin: 0 auto; 
    padding: 10px; 
    place-items: center; 
}

.photo-gallery .row {
    margin: 20px auto; /* space between rows */
    place-items: center; 
}

.photo-gallery img {
    max-width: 80%;
    height: auto; 
    object-fit: contain; 
    
}

.row:has(img[alt="photo-gallery"]) {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.row:has(img[alt="photo-gallery"]).visible {
    opacity: 1;
    transform: translateY(0);
}


footer {
    background: linear-gradient(to top  , var(--secondary-color) 0%,var(--primary-color));
    color: var(---text-color);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}


@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .navigation {
        flex-direction: row; /* Stack items vertically */
        align-items: center;
    }

    .nav-left-cell,
    .nav-center-cell,
    .nav-right-cell {
        text-align: center;
        margin: 10px 0;
    }

    .nav-center-cell h1 a {
        font-size: 2em; /* Further reduce font size */
    }

    .menu {
        justify-content: center; /* Center the menu */
    }
}

@media (max-width: 768px) {
    .nav-center-cell h1 a {
        font-size: 3.5rem; /* Adjust font size for mobile */
    }

    .menu {
        flex-direction: row; /* Stack menu items vertically */
        align-items: center;
    }

    .menu > li {
        padding: 5px;
    }
}

/* COLOR PALETTE CSS HEX 
--sandy-brown: #f7934cff;
--raisin-black: #2b2a2cff;
--wenge: #695958ff;
--snow: #fff7f8ff;
--cambridge-blue: #869b81ff; */